.hero {
    background-color: var(--hero-bg-c);
    padding-block-start: 40px;

    .hero__text {
        grid-column: 2/-2;

        h1 {
            color: var(--heading-c);
            font-size: 84px;

        }

        .hero__subheading {
            color: var(--heading-c);
            font-weight: 700;
            font-size: 18px;
            margin-block-end: 20px;
        }

        .hero__description {
            color: var(--text-c);
            margin-block-end: 30px;
        }

        .hero__button {
            padding: 22px 40px;
            border-radius: 100px;
            background-color: var(--heading-c);
            border: none;
            color: var(--text-white);
            font-size: 20px;
            cursor: pointer;

            span:nth-child(1) {
                padding-right: 20px;
                border-right: 2px solid #D9D9D9;
            }

            span:nth-child(2) {
                padding-left: 20px;
            }
        }

        @media(width<calc(700/16*1rem)) {
            text-align: center;
        }

        @media(width>=calc(700/16*1rem)) {
            grid-column: 2/5;
        }

        @media(width>=calc(1200/16*1rem)) {
            grid-column: 2/7;
        }
    }

    .hero__image {
        grid-column: 1/-1;
        width: 100%;
        height: auto;

        @media(width>=calc(700/16*1rem)) {
            grid-column: 5/-1;
        }

        @media(width>=calc(1200/16*1rem)) {
            grid-column: 7/-1;
        }
    }

    @media(width>=calc(700/16*1rem)) {
        padding-block-end: 80px;
    }
}