@layer fonts {

    /* akatab-regular - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Akatab';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/akatab-v7-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* akatab-500 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Akatab';
        font-style: normal;
        font-weight: 500;
        src: url('./fonts/akatab-v7-latin-500.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* akatab-600 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Akatab';
        font-style: normal;
        font-weight: 600;
        src: url('./fonts/akatab-v7-latin-600.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* akatab-700 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Akatab';
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/akatab-v7-latin-700.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* akatab-800 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Akatab';
        font-style: normal;
        font-weight: 800;
        src: url('./fonts/akatab-v7-latin-800.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* akatab-900 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Akatab';
        font-style: normal;
        font-weight: 900;
        src: url('/fonts/akatab-v7-latin-900.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer global {

    :root {
        --c-teal: #DDC0AE;
        --c-dark-teal: #A1613B;
        --c-black-light: #505050;
        --c-black-dark: #383838;
        --c-white: #FFFFFF;


        /* custom COLOR properties */
        --hero-bg-c: var(--c-teal);
        --nav-link-c: var(--c-black-light);
        --heading-c: var(--c-dark-teal);
        --text-c: var(--c-black-light);
        --hero-social-bg: var(--c-black-dark);
        --text-white: var(--c-white);

    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Akatab', Arial, Helvetica, sans-serif;
    }

    .wrapper {
        display: grid;
        gap: 20px;
        grid-template-columns:
            1fr repeat(3, calc((100% - 48px - 40px)/3)) 1fr;

        @media(width >=calc(700/16*1rem)) {
            grid-template-columns:
                1fr repeat(6, calc((100% - 80px - 100px)/6)) 1fr;
        }

        @media(width >=calc(1200/16*1rem)) {
            gap: 30px;
            grid-template-columns:
                1fr repeat(12, calc((1110px - 330px)/12)) 1fr;
        }

        /* all the components will span the 100% width */

        /* >* {
            grid-column: 2/-1;
        } */
    }

    h2 {
        color: var(--heading-c);
        font-size: 35px;
        text-transform: uppercase;

        @media(width>=calc(1200/16*1rem)) {
            font-size: 55px;
        }
    }


}